.footer {
  background-color: #343a40; /* Headerと同じ色に変更 */
  color: #343a40;
  padding: 60px 0;
}

.footer-content-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-link {
  color: #fff;
  font-size: 14px;
  line-height: 30px;
}

.logo-white {
  width: 100px;
  vertical-align: bottom;
}