<footer class="footer fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-details">
          <h2 class="footer-content-head">食活とは？</h2>
          <ul class="list-unstyled">
            <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-details">
          <h2 class="footer-content-head">食活を見る</h2>
          <ul class="list-unstyled">
            <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-details">
          <h2 class="footer-content-head">最新情報</h2>
          <ul class="list-unstyled">
            <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>