<form>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">タイトル</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="タイトルを入力してください">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">内容</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="内容を入力してください"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">投稿する</button>
</form>